---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Business Analyst - Christian's Portfolio">
  <header>
    <h1>Business Analyst</h1>
    <p class="subtitle">
      @ <a
        href="https://prof-schumann.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="company-link">Prof. Schumann</a
      >
    </p>
    <p class="subtitle">2026 - Today</p>
  </header>

  <section>
    <h2>ROLE OVERVIEW</h2>
    <p>
      As a Business Analyst at Prof. Schumann, I bridge the gap between business
      needs and technical implementation. My focus is on connecting our partners
      with our software and ensuring that our solutions deliver maximum value to
      our clients.
    </p>
  </section>

  <section>
    <h2>KEY RESPONSIBILITIES</h2>
    <ul>
      <li>&gt; Process Modeling &lt;</li>
      <li>&gt; Stakeholder Management &lt;</li>
      <li>&gt; Technical Documentation &lt;</li>
      <li>&gt; Quality Assurance &lt;</li>
      <li>&gt; Testautomation &lt;</li>
      <li>&gt; CI/CD &lt;</li>
    </ul>
  </section>

  <section>
    <h2>PROJECTS</h2>
    <p>
      Working on various projects working with credit reporting agencies and
      trade credit insurances
    </p>
  </section>

  <section style="margin-top: 40px;">
    <a href="/" class="company-link">&lt;- Back to Home</a>
  </section>
</Layout>
