---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Christian's Portfolio">
  <header>
    <h1>Hi! Ich bin Christian</h1>
    <p class="subtitle">
      Business Analyst @ <a
        href="https://prof-schumann.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="company-link">Prof. Schumann</a
      >
    </p>
    <p class="subtitle">& based in Germany</p>
  </header>

  <section>
    <h2>INTERESTS AND TECH KNOWLEDGE</h2>
    <ul>
      <li>&gt; Object Oriented Programming &lt;</li>
      <li>&gt; Java &lt;</li>
      <li>&gt; Dart &lt;</li>
      <li>&gt; Python &lt;</li>
      <li>&gt; Gitlab CI/CD &lt;</li>
      <li>&gt; Test Automation &lt;</li>
      <li>&gt; App development with Flutter &lt;</li>
      <li>&gt; Backend development &lt;</li>
      <li>&gt; Large Language Models &lt;</li>
      <li>&gt; SQL &lt;</li>
      <li>&gt; Automation &lt;</li>
      <li>&gt; Database design &lt;</li>
    </ul>
  </section>

  <section>
    <h2>CAREER SUMMARY</h2>
    <ul>
      <li>
        [ Reserve Officer @ <a
          href="https://www.bundeswehr.de/de/"
          target="_blank"
          rel="noopener noreferrer"
          class="company-link">Bundeswehr</a
        > &gt; 2016-2018 ]
      </li>
      <li>
        [ Bachelor of Science in BInfSystems @ <a
          href="https://www.uni-goettingen.de/"
          target="_blank"
          rel="noopener noreferrer"
          class="company-link">UniGoe</a
        > &gt; 2018 - 2023 ]
      </li>
      <li>
        [ Part-time Software Development @
        <a
          href="https://asc46.de/"
          target="_blank"
          rel="noopener noreferrer"
          class="company-link">ASC46</a
        >

        &gt; 2022 - 2025 ]
      </li>
      <li>
        [ Master of Science in BInfSystems @ <a
          href="https://www.uni-goettingen.de/"
          target="_blank"
          rel="noopener noreferrer"
          class="company-link">UniGoe</a
        >&gt; 2023 - 2025 ]
      </li>
      <li>
        [ <a href="/jobs/business-analyst" class="company-link"
          >Business Analyst</a
        > @ <a
          href="https://prof-schumann.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="company-link">Prof. Schumann</a
        > &gt; 2026 - today ]
      </li>
    </ul>
  </section>

  <section>
    <h2>SPOKEN LANGUAGES</h2>
    <p>German - native</p>
    <p>English - advanced</p>
  </section>

  <section>
    <h2>CONTACT</h2>
    <div class="socials">
      <a
        href="https://www.linkedin.com/in/christian-bruns-262396173/"
        aria-label="LinkedIn"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          ><path
            d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
          ></path></svg
        >
      </a>
      <a href="https://github.com/christian98b" aria-label="GitHub">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          ><path
            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22v3.293c0 .319.192.694.805.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
          ></path></svg
        >
      </a>
    </div>
  </section>
</Layout>
